---
layout: base.njk
title: Work
description: Physical computing, digital fabrication and learning-design projects by James Robinson.
permalink: /work/
eleventyExcludeFromCollections: true
---
<h1>Work</h1>

<ul class="cards">
  {%- for project in collections.projects %}
  {% include "partials/project-card.njk" %}
  {%- endfor %}
</ul>
