<li class="card">
  {%- set cardHero = project.data.hero or {} %}
  <a class="card__link" href="{{ project.url }}">
    <div class="card__media">
      {% image cardHero.src, cardHero.alt or project.data.title, { sizes: "(min-width: 48rem) 22rem, 100vw" } %}
    </div>
    <div class="card__text">
      <span class="card__title">{{ project.data.title }}</span>
      {%- if project.data.summary %}
      <span class="card__summary">{{ project.data.summary }}</span>
      {%- endif %}
      {%- if project.data.draft %}
      <span class="card__draft">Draft</span>
      {%- endif %}
    </div>
  </a>
</li>
